<h1>Angular dynamic ellipsis</h1>
<p>For responsive applications, the use of ellipsis for long content can be necessary. When we want to go further and
  display the Angular material tooltip when the ellipsis are displayed.</p>
<input (focus)="clearAutoText()" [(ngModel)]="text"
       placeholder="Write your text here to play with the dynamic ellipsis">
<mat-slider
  max="500"
  min="0"
  step="1"
>
  <input (valueChange)="changeWidth($event)" [value]="width" matSliderThumb>
</mat-slider>
<div class="ellipsis-static-container">
  <div>With smart cut:</div>
  <div *ngIf="displayEllipsis" [style.width.px]="width" class="ellipsis-dynamic-container">
    <ngx-ellipsis-tooltip [style.width.px]="width" [text]="text"></ngx-ellipsis-tooltip>
  </div>
  <div>Without smart cut:</div>
  <div *ngIf="displayEllipsis" [style.width.px]="width" class="ellipsis-dynamic-container">
    <ngx-ellipsis-tooltip [smartCut]="false" [style.width.px]="width" [text]="text"></ngx-ellipsis-tooltip>
  </div>
</div>
